header {
  background-color: rgb(0, 155, 0);
}

header img {
  height: 70px;
}

p img {
  float: left;
  width: 60%;
  margin-right: 20px;
  margin-bottom: 10px;
}

button {
  float: right;
  background-color: rgb(0, 155, 0);
  border: none;
  color: white;
  padding: 15px 20px;
}

button:hover {
  background-color: rgb(8, 99, 8);
  cursor: pointer;
}

.container {
  padding: 30px 30px;
}

.full-nav {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

  /* padding: 0 20px; */
}

.full-nav a {
  color: white;
  font-size: 1.1em;
  padding-right: 10px;
}

.main {
  display: flex;
  gap: 30px;
}

.art-1 {
  width: 40%;
}

.art-2 {
  width: 60%;
}

footer {
  text-align: center;
  padding: 20px;
}
